.tag-list {
  display: flex;
  gap: 10px; 
  flex-wrap: wrap; 
  justify-content: center;
}

.tag-list div {
  background-color: antiquewhite; 
  font-weight: bold;
  font-style: italic;
  font-size: .9rem;
  padding: 5px 10px; 
  border-radius: 5px; 
  cursor: pointer;
}
