ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

ul li {
  height: 20rem;
  width: 20rem;
  border: 1px solid whitesmoke;
  border-radius: 1rem;
  margin: 1.5rem;
  margin-bottom: 6.5em;
  display: flex;
  flex-direction: column;
}

li a:hover {
  opacity: 0.9;
  cursor: pointer;
}

.content {
  padding: 0.5rem 0rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.name {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: left;
}

.origins,
.cook-time {
  text-align: left;
  width: 100%;
}

.origins span {
  border-radius: 2rem;
  background-color: whitesmoke;
  color: grey;
  font-size: 0.8rem;
  margin-right: 0.3rem;
  display: inline-block;
}

.name,
.origins,
.cook-time,
.price {
  margin-left: 0.2rem;
  text-align: left;
}

.cook-time {
  font-size: 0.9rem;
  flex: 3;
  text-align: right;
}

.price {
  color: rgb(58, 57, 57);
  font-size: 1.2rem;
  font-weight: bold;
  text-align: left;
  margin-left: 0.2rem;
}

.favorite {
  font-family: Arial, sans-serif;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.favorite.not {
  opacity: 0.5;
}

img:hover {
  opacity: 0.9;
  cursor: pointer;
}

.product-item-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
