<app-search></app-search>
<app-tags (tagSelected)="filterByTag($event)"></app-tags>

<ul *ngIf="foods.length > 0; else noFoodMessage">
  <li *ngFor="let food of foods">
    <img [src]="food.imageUrl" alt="food images" />
    <div class="content">
      <div class="name">
        {{ food.name }}
      </div>

      <!-- ⭐ 좋아요 아이콘 -->
      <i
        class="favorite fa-solid fa-star"
        [class.not]="!food.favorite"
        (click)="toggleFavorite(food)"
      >
        ⭐
      </i>

      <div class="product-item-footer">
        <div class="origins">
          <span *ngFor="let origin of food.origins">
            {{ origin }}
          </span>
        </div>
        <div class="cook-time">
          <span>⏰</span>
          {{ food.cookTime }}
        </div>
      </div>
    </div>
    <div class="price">
      {{ food.price | currency }}
    </div>
  </li>
</ul>

<!-- 🍽 음식이 없을 때 보여줄 메시지 -->
<ng-template #noFoodMessage>
  <p>😢 선택한 태그에 해당하는 음식이 없습니다.</p>
</ng-template>
